black==23.3.0
click==8.1.3
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
pip @ file:///usr/local/Cellar/python%403.11/3.11.9/Frameworks/Python.framework/Versions/3.11/lib/python3.11/ensurepip/_bundled/pip-24.0-py3-none-any.whl
platformdirs==3.8.0
setuptools @ file:///usr/local/Cellar/python%403.11/3.11.9/Frameworks/Python.framework/Versions/3.11/lib/python3.11/ensurepip/_bundled/setuptools-69.2.0-py3-none-any.whl
wheel @ file:///usr/local/Cellar/python%403.11/3.11.9/libexec/wheel-0.43.0-py3-none-any.whl
